<?xml version="1.0" encoding="UTF-8"?>	<widget xmlns = "http://www.w3.org/ns/widgets"		xmlns:gap = "http://phonegap.com/ns/1.0"		id        = ""		versionCode="1"		version   = "1">		<name>WP+ANG</name>		<description>Test		</description>		<author href="www.nocanvas.com" email="info@nocanvas.com">no canvas		</author>		<preference name="phonegap-version" value="3.6.3" />				<gap:platform name="android" />			<icon src="icon.png" />		<gap:splash src="splash.png" />		<access origin="nocanvas.com/*" />	</widget>